--load ./yard_extensions.rb
--template dyi
--template-path ../yard-template
--no-private
--title "DYI Documents"
--output-dir ../doc
--exclude lib/ironruby.rb
--default-return ""
lib/**/*.rb
-
README
COPYING
